html {
  font-family: "Open Sans", sans-serif;
  background-color: #1c232e;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

a:focus {
  outline: 3px solid #000;
}


.masthead {
  background-color: #1c232e;
  color: #fff;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 9em;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
}


.nav a span {
  border-bottom: .2rem solid #b1dbff;
}

.nav a:hover span,
.nav a:focus span {
  border-bottom-color: #1c232e;
  color: #fff;
  background-color: #1c232e;
}

.banner {
  min-height: 16em;
  color: #fff;
}

.home-img {
  opacity: .5;
}

.light-content {
  max-width: 25em;
  margin: auto;
  align-items: center;
  text-align: center;
  color: #fff;
}

.light-img {
  display: block;
  width: 300px;
  max-width: 500px;
  align-items: center;
  margin: auto;
}

.icons {
  text-align: center;
  color: #fff;
}

form {
  color: #fff;
}

.sign-btn {
  background-color: #1c232e;
  border-color: #1c232e;
  border-radius: 4px;
  color: #fff;
}

.btn {
  color: #1c232e;
  background-color: #b1dbff;
  border: 4px solid #b1dbff;
}

.sign-banner-content h2 {
  color: #b1dbff;
}

.sign-banner-content p {
  color: #fff;
}

hr {
  margin-top: 70px;
}

footer p {
  color: #fff;
}

footer a {
  color: #79c1ff;
  text-decoration: none;
}

footer img {
  width: 200px;
}

main h2 {
  text-align: center;
  color: white;
}

table {
  border: 1px solid #1c232e;
  border-collapse: collapse;
  margin: 50px;
  margin-top: 80px;
}

th, td {
  border: 1px solid #1c232e;
  padding: .75em;
  color: #fff;
  text-align: center;
}

td {
  color: #b1dbff;
}

th {
  border-bottom: 1px solid #b1dbff;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  .header-nav li {
    width: 50%;
    display: inline-block;
    text-align: center;
  }

  .sign-up {
    color: #1c232e;
    background-color: #78b6ec;
    border-radius: 8px;
  }

}

@media only screen and (min-width: 38em) {

  .header-nav {
    flex-wrap: nowrap;
  }

  .header-nav li {
    width: 25%;
  }

  .header-nav ul {
    justify-content: space-around;
  }

  .banner {
    height: 70%;
    position: relative;
  }

  .banner-content {
    max-width: 30em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-img {
    opacity: .5;
    object-fit: cover;
    max-height: 500px;
  }

  .sign-img {
    display: block;
    width: 250px;
    max-width: 500px;
    align-items: center;
    margin: auto;
  }

  .light-img {
    margin-top: 10px;
  }

  .umbrella-img {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .header-nav {
    width: 50%;
    margin: 1rem;
    padding: .5em;
  }

  .header-nav a {
    margin: 1rem;
  }

  .header-nav li {
    align-items: flex-end;
  }

  .banner {
    height: 70%;
    position: relative;
  }

  .banner-content {
    max-width: 30em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sign-banner-content {
    margin-top: 50px;
  }

  .sign-img {
    width: 450px;
  }

  .light-img {
    width: 450px;
  }

  .light-content {
    margin-left: 0;
  }

}

@media only screen and (min-width: 90em) {

  .sign-img {
    width: 500px;
  }

}
